
$font-url--google : 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800';

$font-family--primary   : 'Open Sans', sans-serif;
$font-family--secondary :  sans-serif;
$font-family--icon      : "FontAwesome";

$font-weight--light     : 300;
$font-weight--normal    : 400;
$font-weight--semibold  : 600;
$font-weight--bold      : 700;
$font-weight--extrabold : 800;

$colors:(
  color-danger    : #ff4444,
  color-alert     : #ffbb33,
  color-success   : #00C851,
  color-info      : #33b5e5,
  color-default   : #2BBBAD,
  color-primary   : #4285F4,
  color-secondary : #aa66cc,
);

$color-white       : #fff; // Default White
$color-black       : #000; // Default Black

$color--primary     : map-get($colors,'color-primary');
$color--secondary   : map-get($colors,'color-secondary');
$color--danger      : map-get($colors,'color-danger');
$color--info        : map-get($colors,'color-info');
$color--default     : map-get($colors,'color-default');
$color--accent      : map-get($colors,'color-primary');
$color--shadow      : rgba($color-black,.02);

$color--border      : map-get($colors,'color-default');
$color--bg          : $color-white;

$base-font--size : 16px;
$base-line       : 20px;

$base--radious : 2px;


//------------------------------------------------------------------------------
// Grid System
//------------------------------------------------------------------------------

$susy : (
  columns : 12,
  gutter  : 1/4,
  math    : fluid,
  gutter-position : split
);


//------------------------------------------------------------------------------
// Radio Buttons and Checkboxes Styles
//------------------------------------------------------------------------------

// Options for the Radio Buttons
$radio: (
  width      : 20px,
  height     : 20px,
  border     : $color--border,
  font       : $font-family--icon,
  font_size  : 14px,
  color      : $color--accent,
  content    : "\f111",
  radious    : 50%
);

// Options for the Checkboxes
$check: (
  width      : 20px,
  height     : 20px,
  border     : $color--border,
  font       : $font-family--icon,
  font_size  : 14px,
  color      : $color--accent,
  content    : "\f00c",
  radious    : 0%
);

//------------------------------------------------------------------------------
// Healper Functions
//------------------------------------------------------------------------------

@import "_helpers.scss";
