//------------------------------------------------------------------------------
// Functions, Mixins and More
//------------------------------------------------------------------------------


// Import Google Fonts
@if variable-exists(font-url--google){
  @import url($font-url--google);
}


// Convert PX values to EM values
@function em($target, $context : $base-font--size){
  @return ($target/$context) * 1em;
}

// Clearfix mixin
@mixin clearfix(){
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}


// Create Radio Buttons and Checkboxes
@mixin check_radio($options) {

  &{ display: none; }

  // Target the label right next to it.
  & + label {
    position: relative;
    padding-left: map-get($options, width) + 5px;
    cursor: pointer;

    // Style the Before element to look like a Radio Button
    &:before{
      content: "";
      display: block;

      // Text options for the selected state
      color: map-get($options, color);
      font-family: map-get($options, font);
      font-weight: normal;
      font-size: map-get($options, font_size);
      text-align: center;
      line-height: map-get($options, height);

      // Width and heights
      height: map-get($options, height);
      width: map-get($options, width);

      // Position of the careted element
      position: absolute;
      left: 0px;
      top: 0px;

      //Border and apperance of the element
      border: 1px solid map-get($options, border);
      border-radius: map-get($options, radious);
    }
  }

  // Selected States
  &:checked + label:before{
    content: map-get($options, content);
  }
}


// Button Background Colors
@mixin btn_background($key, $value){
  &--#{$key}{
    background-color: $value;
    transition: all 0.3s ease;
  }

  &--#{$key}:hover{
    background-color: darken($value,10%);
    color: map-get($btn,color);
  }
}
