//------------------------------------------------------------------------------
// Misc. Helper classes and more
//------------------------------------------------------------------------------


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

// Text Alignment Helper Classes
.text--left { text-align: left;}
.text--right { text-align: right; }
.text--center { text-align: center; }

// Menu Styles
.menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
