//------------------------------------------------------------------------------
// Global Styles
//------------------------------------------------------------------------------


*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html{
  font-size: $base-font--size;
}

body{
  font-size: em($base-font--size);
  line-height: ($base-line / $base-font--size);
  font-family: $font-family--primary;
  font-weight: $font-weight--normal;
  background-color: $color--bg;
}

a{

  &:visited,
  &:active,
  &:hover,
  &:active{
    outline: none;
    color: $color--accent;
  }

}

hr{
  margin: 10px 0;
  height: 1px;
  border-bottom: 1px solid $color--border;
}


//------------------------------------------------------------------------------
// Typography Styles
//------------------------------------------------------------------------------


@import "_type.scss";


//------------------------------------------------------------------------------
// Typography Styles
//------------------------------------------------------------------------------


@import "_forms.scss";


//------------------------------------------------------------------------------
// Table Styles
//------------------------------------------------------------------------------


@import "_tables.scss";


//------------------------------------------------------------------------------
// Helpful classes and Misc. classes
//------------------------------------------------------------------------------


@import "../util/_misc.scss";


//------------------------------------------------------------------------------
// Susy Grid System
//------------------------------------------------------------------------------


@import "../../bower_components/susy/sass/susy";
