//------------------------------------------------------------------------------
// Form Element Styles
//------------------------------------------------------------------------------

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="date"],
input[type="number"] {
  border: 1px solid $color--border;
}

select{

}

textarea{
  @extend input[type="text"];

  min-height: em(150px);
  resize: vertical;
}


//------------------------------------------------------------------------------
// Radio Buttons and Checkboxes
//------------------------------------------------------------------------------

.radio{
  @include check_radio($radio)
}

.checkbox{
  @include check_radio($check)
}
