//------------------------------------------------------------------------------
// Text and Type Styles
//------------------------------------------------------------------------------


h1, h2, h3, h4, h5, h6 {
  font-family: $font-family--secondary;
  font-weight: $font-weight--bold;
}

p {
  margin-bottom: em(10px);
}

strong {
  font-weight: $font-weight--bold;
}
