//------------------------------------------------------------------------------
// Button Styles
//------------------------------------------------------------------------------

$btns:(
  default   : map-get($colors,'color-default'),
  primary   : map-get($colors,'color-primary'),
  success   : map-get($colors,'color-success'),
  info      : map-get($colors,'color-info'),
  danger    : map-get($colors,'color-danger'),
);

$btn:(
  height      : 40px,
  padding     : 20px,
  font        : $font-family--primary,
  font_size   : $base-font--size,
  color       : $color-white,
  font_weight : $font-weight--semibold
);

.btn{

  border-radius: $base--radious;
  display: inline-block;

  height: map-get($btn,height);
  line-height: map-get($btn,height);

  color: map-get($btn,color);
  font-family: map-get($btn,font);
  font-size: map-get($btn,font_size);
  font-weight: map-get($btn,font_weight);
  text-align: center;
  text-decoration: none;

  padding: 0 map-get($btn,padding);

  @each $key, $value in $btns{
    @include btn_background($key,$value)
  }

  &--lg{
    height: map-get($btn,height) * 1.2;
    line-height: map-get($btn,height) * 1.2;
    padding: 0 map-get($btn,padding) * 1.4;
    font-size: map-get($btn,font_size) * 1.2;
  }

  &--sm{
    height: map-get($btn,height) * 0.8;
    line-height: map-get($btn,height) * 0.8;
    font-size: map-get($btn,font_size) * 0.8;
  }

}
